body {
    background-color: gray;
}

#jogo {
    text-align: center;
}

#areaJogo {
    border: 1px solid white;
}

#redondo {
    border-radius: 100%;
}

#comida {
    border-radius: 100%;
    background-color: red;
}